* {
    margin: 0px;
    border: 0px;
}
html {
    font-size: 25;
    font-family: 'dongle', sans-serif;
    background-color: hsl(0, 0%, 100%);

}
.full-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
h1 {
    text-align: center;
    line-height: 1em;
}
.text {
    grid-column: 1 / span 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bilde {
    grid-column: 2 / span 2;
    height: 100vh;
    width: 250%;
}

.text-1 {
    width: 45ch;
    text-align: center;

}
.text-2 {
    width: 45ch;
    text-align: center;
}
.logo {
    width: 35px;
    margin: 5px;
}
