* {
    margin: 0px;
    border: 0px;
    color: #636363;
}
html {
    font-size: 25;
    font-family: 'dongle', sans-serif;
    background-color: hsl(0, 0%, 100%);

}
h1 {
    text-align: center;
    line-height: 1em;
}
p {
    line-height: 1em;
}
a {
    text-decoration: none;
    color: red;
}
a:hover {
    color: darkred;
}
.logo {
    width: 35px;
    margin: 5px;
}

.bilde {
    max-width: 100%;
    object-fit: cover;
    min-height: 100vh;
}
@media only screen and (min-width: 550px) {

.flex-container {
    display: flex;
    flex-direction:column;
    flex-flow: nowrap;
    min-height: 100vh;

}
.picture-container {
    flex: 2;
}
.text-container {
    padding: 60px;
    align-self: center;
    text-align: center;
    flex: 1;
}
}
.flex-container {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    max-height: 100vh;
}
.text-container {
    flex: 1;
    padding: 20px;
    text-align: center;
    align-self: center;
    justify-self: center;
}




